.counter {
    display: flex;
    flex-wrap: wrap;
    width: 600px; 
    margin-left: 100px;
  }

  .new-game-btn{
      background: lightgreen;
      font-size: 18pt;
      font-style: italic;
      font-weight: bold;
      margin-left: 50px;
      width: 300px;
      height: 60px;
      opacity: 0.9;
  }

  .wrapper{
      display: flex;
      flex-direction: row;
      padding-top: 100px;
  }